@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* studio.youtube.com light default */
  --background: 0 0% 100%;
  --foreground: 0 0% 7%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 98%;
  --muted: 210 40% 96%;
  --muted-foreground: 215 16% 47%;
  --border: 214 32% 91%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 7%;
}
